body{
    background-color:#333;
    color:#f0f0f0;
}
.clock-style{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vh;
    color: #212121;
}
.hr{
    color: goldenrod;
}
.mn{
    color:grey;
}
.sc{
    color:pink;
}